* {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	line-height: 1;
	text-decoration: none;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	color: black;
}

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	background-color: yellow;
	text-align: center;
	padding: 15px;
}

center {
	background-color: red;
	flex: 1;
	// delete the 3 rows below if you don't want the content to be centered
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	background-color: green;
	text-align: center;
	padding: 15px;
}
